#include "Base.xcconfig"

APP_DISPLAY_NAME = FreeFlow Dev
APP_BUNDLE_IDENTIFIER = com.marcbodea.freeflow.dev
FREEFLOW_UPDATE_CHANNEL = dev
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_ALLOWED = YES
ENABLE_TESTABILITY = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG

